<h1>SEARCH</h1>

<%= form_with url: "/flights", method: :get do |f|%>
<div>
<%= f.label :departure_airport%>
<%= f.select(:departure_airport, @airports_options, selected: params[:departure_airport])%>
</div>

<div>
<%= f.label :arrival_airport%>
<%= f.select(:arrival_airport, @airports_options2, selected: params[:arrival_airport])%>
</div>

<div>
<%= f.label :passenger%>
<%= f.select(:passenger, {"1 person" => 1, "2 people" => 2, "3 people" => 3, "4 people" => 4}, selected: params[:passenger])%>
</div>

<div>
<%= f.label :date%>
<%= f.select(:start_date, @date_options, selected: params[:start_date])%>
</div>

<div>
<%= f.submit %>
</div>

<% end %>

<h1>Flights SEARCH</h1>

<%= form_with url: "/new", method: :get do |n| %>
    <% if @info.first %>
        <% @info.each do |i| %>
            <%= n.radio_button :flight, i.id %>

            <div>
            <%= i.departure_airport.code %>
            </div>

            <div>
            <%= i.arrival_airport.code %>
            </div>

            <div>
            <%= i.start_date %>
            </div>

        <% end %>
        
            <div>
            Number of passengers: <%= @people%> 
            </div>

            <%= n.hidden_field :passengers, value: @people %>

        <div>
        <%= n.submit %>
        </div>

        <%= link_to "back", root_path%>
    <% else %>

        <h1> No Flights Exist </h1>
        <%= link_to "back", root_path %>

    <% end %>

 <% end %>