<div class="card m-3">
<div class="card-header">
<h1 class="text-center">Your Booking</h1>
</div>
<div class="card-body">
<h3><strong>Flight Details</strong></h3>
<div class="m-2">
<strong>Departure:</strong>
<%= @booking.flight.departure_airport.code %>
</div>
<div class="m-2">
<strong>Arrival:</strong>
<%= @booking.flight.arrival_airport.code %>
</div>
<div class="m-2">
<strong>Date:</strong>
<%= @booking.flight.start_date %>
</div>
<h3><strong>Your Info</strong></h3>
<div class="m-2">
<% @booking.passengers.each do |p|%>
<div class="m-2">
<strong>Name</strong>
<%= p.name %>
</div>
<div class="m-2">
<strong>Email</strong>
<%= p.email %>
</div>
<% end %>
<%= link_to "Back", root_path, class: "btn btn-secondary" %>
</div>
</div>
</div>
